@charset "UTF-8";

html {
    height: 100vh;
    background: linear-gradient(#096fcc, #4aa5f9 50%, #f3df3a);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

h1 img {
    width: 100px;
    height: auto;
}

.h1_font {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
}

.form_wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.form_font {
    font-weight: 300;
    font-size: 11px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0 auto 20px auto;
}

.input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.input,
input[type="submit"] {
    color: #6C6C6C;
    padding-left: 10px;
}

.form_register {
    font-size: 14px;
    margin: 0 auto 10px auto;
    text-align: center;
}

.form_login {
    font-size: 14px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.form_link {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 10px auto 0 auto;
    text-align: center;
}

button,
input[type="submit"] {
    color: #fff;
    font-weight: 100;
    background-color: #ED3A50;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 0 auto 20px 100px;
    text-align: center;
}

.added_Bold {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 10px auto 40px auto;
    text-align: center;
}

.added_text {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0 auto 30px auto;
    text-align: center;
}

.added_button {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    background-color: #ED3A50;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}
