@charset "utf-8";
/* html{
}

body{
} */

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* ================================ */
/* トップ画面ヘッダー */
/* ================================ */
.head {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

/* ヘッダー Atlasロゴ */
h1 img {
    /* サイズ決め */
    width: 100px;
    /* 縦横比固定 */
    height: auto;
}

/* ヘッダー右側を横並びに */
.head_right {
    display: flex;
}

/* ヘッダー右側のユーザー名 */
.profile_name {
    padding-top: 15px;
    color: #fff;
}

/* ヘッダー右側の3項目の間隔を指定 */
.profile_item {
    padding-left: 25px;
}

/* ヘッダー右側のアイコンサイズを指定 */
/* ヘッダー右側のアイコンサイズを指定 */
.profile_icon {
    width: 40px;
    /* 縦横比固定(幅を親要素に合わせる) */
    height: auto;
    /* 要素内に画像を収める */
    object-fit: contain;
}

/* ----------------- */
/* アコーディオンメニュー */
/* ----------------- */
.menu_trigger {
    position: relative;
    /* <spn>のタッチ可能な範囲決めてる */
    /* これ設定しないと absolute で浮いてるからクリックできない */
    width: 30px;
    height: 42px;
    /* 上に置いた時カーソルが指になるようにする */
    cursor: pointer;
}

/* アコーディオンメニューのプルダウンの線 */
.menu_trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
}

/* プルダウン（左の棒） */
/* アクティブ時は上下反転 */
.menu_trigger span:nth-child(1) {
    width: 18px;
    top: 23px;
    right: 17px;
    transform: rotate(45deg);
}

.menu_trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
}

/* プルダウン（右の棒） */
/* アクティブ時は上下反転 */
.menu_trigger span:nth-child(2) {
    width: 18px;
    top: 23px;
    right: 5px;
    transform: rotate(135deg);
}

.menu_trigger.active span:nth-child(2) {
    transform: rotate(-135deg);
}

/* 以下2つで、各項目の表示/非表示を設定 */
.menu_nav {
    display: none;
}

.menu_nav.active {
    display: block;
    /* fixed：通常の流れから外れて、画面上のどこかに固定される */
    position: fixed;
    /* そのため、top right とかで配置場所を決める必要がある */
    top: 82px;
    right: 0px;
    width: 30%;
    background: #fff;
    border: 3px solid #186AC9;
    z-index: 2;
    height: 30vh;
}

/* 項目のデザイン */
.menu_nav ul {
    display: flex;
    flex-direction: column;
}

.menu_nav ul li {
    text-align: center;
}

.menu_nav ul a {
    display: block;
    font-size: 18px;
    color: #727272;
    padding-top: 20px;
    padding-bottom: 20px;

}

.menu_nav ul a:hover {
    color: #fff;
    background-color: #186AC9;
}
