@charset "utf-8";

/* ================================ */
/* ログイン後の画面のヘッダー */
/* ================================ */
header {
    background: #186AC9;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

/* ヘッダー Atlasロゴ */
h1 img {
    /* サイズ決め */
    width: 100px;
    /* 縦横比固定 */
    height: auto;
}

/* ヘッダー右側を横並びに */
.head_right {
    display: flex;
}

/* ヘッダー右側のユーザー名 */
.profile_name {
    position: relative;
    padding-top: 15px;
    color: #fff;
    right: 1px;
}

/* ヘッダー右側の3項目の間隔を指定 */
.profile_item {
    padding-left: 20px;
    font-size: 17px;
}

/* ヘッダー右側のアイコンサイズを指定 */
/* ヘッダー右側のアイコンサイズを指定 */
.profile_icon {
    width: 40px;
    /* 縦横比固定(幅を親要素に合わせる) */
    height: auto;
    /* 要素内に画像を収める */
    object-fit: contain;
}

/* ----------------- */
/* アコーディオンメニュー */
/* ----------------- */
.menu_trigger {
    position: relative;
    /* <spn>のタッチ可能な範囲決めてる */
    /* これ設定しないと absolute で浮いてるからクリックできない */
    width: 30px;
    height: 42px;
    /* 上に置いた時カーソルが指になるようにする */
    cursor: pointer;
}

/* アコーディオンメニューのプルダウンの線 */
.menu_trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
}

/* プルダウン（左の棒） */
/* アクティブ時は上下反転 */
.menu_trigger span:nth-child(1) {
    width: 12px;
    top: 23px;
    right: 1px;
    transform: rotate(45deg);
}

.menu_trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
}

/* プルダウン（右の棒） */
/* アクティブ時は上下反転 */
.menu_trigger span:nth-child(2) {
    width: 12px;
    top: 23px;
    left: 24px;
    transform: rotate(135deg);
}

.menu_trigger.active span:nth-child(2) {
    transform: rotate(-135deg);
}

/* 以下2つで、各項目の表示/非表示を設定 */
.menu_nav {
    display: none;
}

.menu_nav.active {
    display: block;
    /* fixed：通常の流れから外れて、画面上のどこかに固定される */
    position: fixed;
    /* そのため、top right とかで配置場所を決める必要がある */
    top: 82px;
    right: 0px;
    width: 30%;
    background: #fff;
    border: 3px solid #186AC9;
    z-index: 2;
    height: 30vh;
}

/* 各項目のデザイン */
.menu_nav ul {
    display: flex;
    flex-direction: column;
}

.menu_nav ul li {
    text-align: center;
}

.menu_nav ul a {
    display: block;
    font-size: 18px;
    color: #969696;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* 項目にカーソル置いた時に色変える */
.menu_nav ul a:hover {
    color: #fff;
    background-color: #00297E;
}

/* ================================ */
/* コンテンツ横並び */
/* ================================ */
#row {
    display: flex;
    flex-flow: row wrap;
}

/* ================================ */
/* サイドバー */
/* ================================ */
#container {
    flex: 0 0 78%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 2px solid #727272;
    height: 100vh;
}

#horizontal_bar {
    border-top: 1px solid #727272;
}

/* フォロー数/フォロワー数の位置固定 */
.side_follow {
    display: grid;
    font-size: 14px;
}

.side_block {
    display: grid;
    grid-template-columns: 120px 1fr;
}

/* 行間 */
.side_space {
    margin: 20px 0 0 15px;
}

.follow_button {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    background-color: #0656CF;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}

.side_divider {
    border-top: 1px solid #727272;
    margin: 40px 0 30px 0;
}

.search_button {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    background-color: #0656CF;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
}

/* ================================ */
/* メインコンテンツ */
/* ================================ */
#container form {
    /* width設定しないと横幅いっぱいになっちゃう */
    width: auto;
    padding: 25px 0 25px 85px;
    border-bottom: 6px solid #E0E0E0;
}

.form {
    display: flex;
    gap: 20px;
}

/* アイコンとフォームのサイズ */
.form_icon {
    width: 40px;
    height: 40px;
}

.form textarea {
    width: 600px;
    height: 80px;
    border: none;
    outline: none;
    resize: none;
}

.form textarea::placeholder {
    color: #E0E0E0;
}

.post {
    width: 40px;
    height: 40px;
    margin-top: 40px;
}
